.m-logo{
	color: $white;
	width: $w10;
	font-size: 5rem;
	display: flex;
	justify-content: center;
	color: $white;
}

.m-menu{
	width: $w90;
	text-align: right;
	ul{
		.m-menu-item{
			display: inline;
			padding: 10px;
			.m-menu-link{
				text-decoration: none;
				color: $white;
				font-size: 1rem;
			}
		}
	}
}

.m-slider{
	height: 85vh;
	width: $w100;
	padding-top: 120px;
	
	.m-slider__title{
		font-size: 8rem;
		font-weight: 900;
	}

	.m-slider__desc{
		width: $w50;
		font-size: 1.5rem;
		font-weight: 500;
	}
}
