/*
 * Module Biografia
*/
.m-bio__title{
	@extend %font-title;
	width: $w100;
	color: $primary;
	text-align: center;
	margin: 50px 0;
}

.m-bio__desc{
	@extend %font-desc;
	text-align: center;
	margin-bottom: 60px;
	width: $w100;
	color: $primary;
}

.m-bio__btn{
	@extend %btn-lg;
}