.m-logo{
	width: $w10;
	font-size: 5rem;
	display: flex;
	justify-content: center;
	color: $primary;
}

.m-menu{
	width: $w90;
	text-align: right;
	ul{
		.m-menu-item{
			display: inline;
			padding: 10px;
			.m-menu-link{
				text-decoration: none;
				color: $primary;
				font-size: 1rem;
			}
		}
	}
}

