/*
	Theme - Colors 
	https://coolors.co/1a4259-136f63-ffffff-ffc535-3f88c5
*/
$primary: #1A4259;
$secundary: #136F63;
$white:#FFFFFF;
$black:#2F2F2F;
$demo: #95a5a6;

/* Larguras e Alturas */
$w10:  10%;
$w20:  20%;
$w30:  30%;
$w40:  40%;
$w50:  50%;
$w60:  60%;
$w70:  70%;
$w80:  80%;
$w90:  90%;
$w100: 100%;

/* Placeholder's */
%padding-xl{
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 70px;
	padding-top: 70px;
}

/* Fonts */
%font-title{
	font-size: 2.5rem;
	font-weight: 600;
	color: $primary;
	margin: 50px 0;
}

%font-desc{
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 1.7;
	margin: 0 0 50px 0;
	font-style: italic;
}


/* Botões */
%btn-lg{
	padding: 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    color: #fff;
    background-color: $secundary;
    border-color: $secundary;
}